
.container{
	width: 960px;
	max-width: 960px;
}

.logo{
	width: 200px;
	height: 80px;
	text-align: center;
	padding-top: 20px;
	border: 1px solid #008bcb;
	border-radius: 0px 0px 8px 8px;
	margin-left: 0px;
	background: #008bcb;
	background: -moz-linear-gradient(top, #008bcb 0%, #005187 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008bcb), color-stop(100%,#005187));
	background: -webkit-linear-gradient(top, #008bcb 0%,#005187 100%);
	background: -o-linear-gradient(top, #008bcb 0%,#005187 100%);
	background: -ms-linear-gradient(top, #008bcb 0%,#005187 100%);
	background: linear-gradient(to bottom, #008bcb 0%,#005187 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bcb', endColorstr='#005187',GradientType=0 );
	margin-bottom: -50px;
}

.blue{
	color: #0093d0;
	font-weight: bold;
}

#header{
	background: #0069A3 url('../img/striped-bg.png');
	height: 60px;
}

.main-content{
	margin: 40px auto 20px;
}


#footer{
	background: #0069A3 url('../img/striped-1.png');
	color: white;
	padding: 20px;
}


.subcontent-head{
	color: #fff;
	background-color: #0093d0;
	padding: 10px;
	border: 1px solid #0093d0;
	margin: 0;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	 border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;

}

.subcontent-box{
	border: 1px solid #0093d0;
	margin: 0 auto 20px;
	padding: 10px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.full{
	padding: 0;
}

.passenger-details-table{
	max-width: 100%;
	width: 100%;
    background-color: transparent;
    margin-bottom: 20px;
}

.passenger-details-table thead{
	color: #0093d0;
}

.footer-content{
	margin: 0 auto;
	margin: 0 auto;
    width: 30em;
    text-align: center;
}

.image-link{
	border: 1px solid #0093d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 22.6em;
	margin: 2px auto 20px;
}

.middle{
	margin-left: 5px;
	margin-right: 5px; 
}